<div class="container">
  <div class="info bar">
    <h2>Car Database</h2>
    <p>Total Cars: {{ totalCars }}</p>
  </div>
  <p-table [value]="vehicles" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>VIN</th>
        <th>License Plate</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Body Style</th>
        <th>Color</th>
        <th>Miles</th>
        <th>Rental Price</th>
        <th>Fuel Type</th>
        <th>Rental Status</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{ car.VIN }}</td>
        <td>{{ car.license_plate }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.make }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.body_style }}</td>
        <td>{{ car.color }}</td>
        <td>{{ car.miles }}</td>
        <td>${{ car.rental_price }}</td>
        <td>{{ car.fuel_type }}</td>
        <td>{{ car.rental_status }}</td>
        <td><p-button (click)="showDialog(car)"><i class="pi pi-pencil"></i></p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>



<p-dialog header="Edit Vehicle" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="container" id="box">
  <p>Edit values to change vehicle information</p>
  <p-floatlabel variant="on">
      <input pInputText id="insert_car_vin" [(ngModel)]="vin" autocomplete="off" />
      <label for="vin"></label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="license_plate" [(ngModel)]="license_plate" autocomplete="off" />
      <label for="license_plate">License Plate</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="year" [(ngModel)]="year" autocomplete="off" />
      <label for="year">Year</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="make" [(ngModel)]="make" autocomplete="off" />
      <label for="make">Make</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="model" [(ngModel)]="model" autocomplete="off" />
      <label for="model">Model</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="body_style" [(ngModel)]="body_style" autocomplete="off" />
      <label for="body_style">Body Style</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="color" [(ngModel)]="color" autocomplete="off" />
      <label for="color">Color</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="miles" [(ngModel)]="miles" autocomplete="off" />
      <label for="miles">Miles</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="rental_price" [(ngModel)]="rental_price" autocomplete="off" />
      <label for="rental_price">Rental Price</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="location_id" [(ngModel)]="location_id" autocomplete="off" />
      <label for="location_id">Location ID</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="fuel_type" [(ngModel)]="fuel_type" autocomplete="off" />
      <label for="fuel_type">Fuel Type</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="rental_status" [(ngModel)]="rental_status" autocomplete="off" />
      <label for="rental_status">Rental Status</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
      <input pInputText id="photo_url" [(ngModel)]="photo_url" autocomplete="off" />
      <label for="photo_url">Photo URL</label>
  </p-floatlabel>
  <p-button (click)="updateCar()" label="Save changes"></p-button>
  </div>
</p-dialog>