@for (item of items; track item) {
    <div class="container">
        <div class="image">
            <img src="34_sedan_gray.png" class="w-24 h-24 object-cover rounded" width="200" height="150"/>
        </div>
        <div class="text">
            <h2 class="text-lg font-bold">Toyota Camry</h2>
            <i class="pi pi-user"> 5 Seats</i>
            <br>
            <i class="pi pi-car"> Automatic</i>
            <br>
            <i class="pi pi-map-marker"> Providence</i>
            
        </div>
        <div class="text" id="price-box">
            <h3>60 / Day</h3>
            
                <p>Total: 180</p>
            
            
            <button pButton type="button" label="Reserve"></button>
        </div>
    </div>
} 
