
<p-dialog header="Reserve a car" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    @if (!loggedInUser){
        <div class="login">
            <h2>Please log in or create an account to reserve</h2>
            <p-button label="Cancel" severity="secondary" (click)="close()" />

            <p-button label="Log in" routerLink="login"></p-button>
        </div>
    }
    @else {
        @if (paymentInfo === null){
            <div class="pay-box">
                <h2>Please add a payment card to reserve</h2>
                <p-floatlabel variant="on">
                    <input pInputText id="license_plate" [(ngModel)]="cardholder_name" autocomplete="off" />
                    <label for="cardholder_name">Cardholder Name</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="card_number" [(ngModel)]="card_number" autocomplete="off" />
                    <label for="card_number">Card Number</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="exp_month" [(ngModel)]="exp_month" autocomplete="off" />
                    <label for="exp_month">Expiration Month</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="exp_year" [(ngModel)]="exp_year" autocomplete="off" />
                    <label for="exp_year">Expiration Year</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="cvv" [(ngModel)]="cvv" autocomplete="off" />
                    <label for="cvv">CVV</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="billing_address" [(ngModel)]="billing_address" autocomplete="off" />
                    <label for="billing_address">Billing Address</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="city" [(ngModel)]="city" autocomplete="off" />
                    <label for="city">City</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="state" [(ngModel)]="state" autocomplete="off" />
                    <label for="state">State</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="zip_code" [(ngModel)]="zip_code" autocomplete="off" />
                    <label for="zip_code">Zip Code</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="country" [(ngModel)]="country" autocomplete="off" />
                    <label for="country">Country</label>
                </p-floatlabel>
                <p-button (click)="addCard()" label="Add card"></p-button>
                
            </div>
        }
        <h2>Car Details</h2>
        <p>Make: {{ carData?.make }}</p>
        <p>Model: {{ carData?.model }}</p>
        <p>Year: {{ carData?.year }}</p>
        <p>Cost Per Day: {{ carData?.rental_price }}</p>

        @if (paymentInfo !== null ){
            <div class="login" id="card-box">
                <h3>Pay using card ending in {{ paymentInfo.card_number.slice(-4) }}</h3> 
                <p-button severity="secondary" (click)="deleteCard()"><i class="pi pi-times" style="color: red"></i></p-button>
            </div>
            
            <div class="login">
                <p-button label="Cancel" severity="secondary" (click)="close()" />

                <p-button label="Reserve" (click)="reserveCar()" />
            </div>
        }
    }
</p-dialog>