
@import "primeicons/primeicons.css";
* {
    font-family: 'Roboto', sans-serif;
}

:root {
  --color-white: #FFFFFF;
  --color-periwinkle: #f7f7ff;
  --color-lavender: #A3A3CC;
  --color-dusty-purple: #5C5C99;
  --color-deep-indigo: #292966;

  // Optional UI states
  --color-hover: #3F3F88;
  --color-border: #CCCCFF;
  --color-muted: #EAEAFF;
}

body {
    background-color: var(--color-periwinkle);
}

