<div class="container">
  <div class="info bar">
    <h2>Car Database</h2>
    <p>Total Cars: {{ totalCars }}</p>
  </div>
  <p-table [value]="vehicles" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>VIN</th>
        <th>License Plate</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Body Style</th>
        <th>Color</th>
        <th>Miles</th>
        <th>Rental Price</th>
        <th>Fuel Type</th>
        <th>Rental Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{ car.VIN }}</td>
        <td>{{ car.license_plate }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.make }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.body_style }}</td>
        <td>{{ car.color }}</td>
        <td>{{ car.miles }}</td>
        <td>${{ car.rental_price }}</td>
        <td>{{ car.fuel_type }}</td>
        <td>{{ car.rental_status }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>