<div class="container">
    <div class="login-box">
        <h1>Star Rentals</h1>
            <p-floatLabel class="float-label" variant="on">
                <p-iconfield>
                    <p-inputicon class="pi pi-user" />
                    <input pInputText id="username" [(ngModel)]="username" />
                    <label for="username">Username</label>
                </p-iconfield>
            </p-floatLabel>
            <p-floatLabel class="float-label" variant="on">
                <p-iconfield>
                    <p-inputicon class="pi pi-lock" />
                    <p-password [feedback]="false" [(ngModel)]="password" inputId="password" [toggleMask]="true"></p-password>
                    <label for="password">Password</label>
                </p-iconfield>
            </p-floatLabel>
        <p-button label="Sign In" (click)="logIn()"></p-button>
        <p-button class="signup-button" variant="text" severity="secondary" routerLink="/sign-up">Don't have an account? Sign Up</p-button>
    </div>
</div>