.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8vh;
}

h1 {
    font-size: 6vh;
    margin-bottom: 9vh;
}
.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vh;
    height: 70vh;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    
}
.sign-in-box {
    display: flex;
    justify-content: center;
}
:host ::ng-deep .float-label {
  margin-bottom: 2rem;
  display: block; /* sometimes needed for spacing */
}

.signup-button {
    margin-top: 30px;
}
